# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
[*.cs]

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1129: Do not use default value type constructor
dotnet_diagnostic.SA1129.severity = none

# SA1135: Using directives should be qualified
dotnet_diagnostic.SA1135.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = warning

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1203: Constants should appear before fields
dotnet_diagnostic.SA1203.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = warning

# SA1207: Protected should come before internal
dotnet_diagnostic.SA1207.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = warning

# SA1303: Const field names should begin with upper-case letter
dotnet_diagnostic.SA1303.severity = warning

# SA1306: Field names should begin with lower-case letter
dotnet_diagnostic.SA1306.severity = warning

# SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1307.severity = warning

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = warning

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = warning

# SA1312: Variable names should begin with lower-case letter
dotnet_diagnostic.SA1312.severity = warning

# SA1313: Parameter names should begin with lower-case letter
dotnet_diagnostic.SA1313.severity = warning

# SA1314: Type parameter names should begin with T
dotnet_diagnostic.SA1314.severity = warning

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = warning

# SA1407: Arithmetic expressions should declare precedence
dotnet_diagnostic.SA1407.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1604: Element documentation should have summary
dotnet_diagnostic.SA1604.severity = none

# SA1605: Partial element documentation should have summary
dotnet_diagnostic.SA1605.severity = none

# SA1606: Element documentation should have summary text
dotnet_diagnostic.SA1606.severity = none

# SA1607: Partial element documentation should have summary text
dotnet_diagnostic.SA1607.severity = none

# SA1608: Element documentation should not have default summary
dotnet_diagnostic.SA1608.severity = none

# SA1610: Property documentation should have value text
dotnet_diagnostic.SA1610.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none

# SA1612: Element parameter documentation should match element parameters
dotnet_diagnostic.SA1612.severity = none

# SA1613: Element parameter documentation should declare parameter name
dotnet_diagnostic.SA1613.severity = none

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = none

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = none

# SA1617: Void return value should not be documented
dotnet_diagnostic.SA1617.severity = none

# SA1618: Generic type parameters should be documented
dotnet_diagnostic.SA1618.severity = none

# SA1619: Generic type parameters should be documented partial class
dotnet_diagnostic.SA1619.severity = none

# SA1620: Generic type parameter documentation should match type parameters
dotnet_diagnostic.SA1620.severity = none

# SA1621: Generic type parameter documentation should declare parameter name
dotnet_diagnostic.SA1621.severity = none

# SA1622: Generic type parameter documentation should have text
dotnet_diagnostic.SA1622.severity = none

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = none

# SA1624: Property summary documentation should omit accessor with restricted access
dotnet_diagnostic.SA1624.severity = none

# SA1625: Element documentation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = none

# SA1626: Single-line comments should not use documentation style slashes
dotnet_diagnostic.SA1626.severity = none

# SA1627: Documentation text should not be empty
dotnet_diagnostic.SA1627.severity = none

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1642: Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = none

# SA1643: Destructor summary documentation should begin with standard text
dotnet_diagnostic.SA1643.severity = none

# SA1648: inheritdoc should be used with inheriting class
dotnet_diagnostic.SA1648.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# SX1309: Field names should begin with underscore
dotnet_diagnostic.SX1309.severity = warning

# SX1309S: Static field names should begin with underscore
dotnet_diagnostic.SX1309S.severity = warning